:root {
    
    --bol-badge_number: #FF0000;
    --bol-white: #FFFFFF;
    --bol-footer: #1A1A1A;
    --bol-banner: #FF6900;
    --bol-sustainability: #008000;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Roboto', sans-serif;
}

.container {
    width: 80%;
    margin: auto;
}

.row {
    display: flex;
    justify-content: space-between;
}

img {
    max-width: 100%;
}

/* #region COLUMN */
.col-2 {
    width:  calc((100%/12)*2); 
}

.col-3 {
    width:  calc((100%/12)*3); 
}

.col-4 {
    width:  calc((100%/12)*4); 
}

.col-9 {
    width:  calc((100%/12)*9); 
}
/* #endregion COLUMN */

/* #region BANNER*/
header {
    background-color: var(--bol-banner);
    padding: 1rem;
}

.a_banner, .a_widget {
    color: white;
    text-decoration: none;
    padding-right: 0.3rem;
}

.a_banner {
    font-size: 12px;
}

.logo {
    width: 100px;
    display: block;
    text-align: center;
    margin: auto;
}

.icon {
    color: white;
    text-align: end;
}

i {
    padding-right: 0.2rem;
    font-size: 13px;    
}
/* #endregion BANNER*/

/* #region CARDS*/

.product {
    margin: 2.5rem 0.5rem;
    
}

.card {
    position: relative;
}

.badge {
    padding: 0.2rem 0.4rem;
    text-align: center;
    font-size: 8px;
    color: var(--bol-white);
    position: absolute;
    bottom: 25px;
}

.bg_number {
    background-color: var(--bol-badge_number);

}

.bg_sust, .bg_esprit {
    background-color: var(--bol-sustainability);
    position: absolute;
   
}

.bg_sust {
    left: 32px;
}

.bg_esprit {
    background-color: var(--bol-sustainability);
    position: absolute;
    left: 0;
}

.heart {
    background-color: var(--bol-white);
    position: absolute;
    top: 5px;
    right: 0;
    padding: 0.3rem 0.6rem;
}

.heart:hover {
    color: #FF0000;
}
.brand {
    font-size: 10px;
}

.pt_price {
    font-size: 10px;
}

.sale {
    color: var(--bol-badge_number)
}

.price {
    text-decoration: line-through;
}


.ig2_product {
	display: none;
}

.card:hover {
    cursor: pointer;
}
.card:hover .ig_product {
	display: none;
}

.card:hover .ig2_product {
	display: block;   
}
/* #endregion CARDS */

/* #region FOOTER */
footer {
    background-color: var(--bol-footer);
    color: var(--bol-white);
    padding: 1.5rem;
}

.a_widget {
    font-size: 10px;
}

h6 {
    text-align: end;
    padding-bottom: 0.3rem;
}

.social {
    width: 15px;
    padding-left: 0.5rem;
}

/* #endregion FOOTER */